<!--The content below is only a placeholder and can be replaced.-->

<div class="image">
<div class="allPage">

<h1 id="style">
      LOOKING FOR AN EMPLOYEE? 
</h1>

  <h1 id="style">
    click on the search bar to learn our suggestions
  </h1>
  </div>
<h2 >
  <img id="logo" width="300" alt="deloitte Logo"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Deloitte.svg/2000px-Deloitte.svg.png">
</h2>

 


<div class="inputStyle">
<app-auto-complete></app-auto-complete>
</div>
<router-outlet></router-outlet>
</div>